/* latin 
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter'), 
  		local('ArchitectsDaughter'), 
  		url(http://o7650r1ld.bkt.clouddn.com/font/architects_daughter_v6.woff2) format('woff2'),
  		url(http://o7650r1ld.bkt.clouddn.com/font/architects_daughter_v6.woff) format('woff'),
  		url(http://o7650r1ld.bkt.clouddn.com/font/architects_daughter_v6.ttf) format('ttf'),
  		url(http://o7650r1ld.bkt.clouddn.com/font/architects_daughter_v6.svg) format('svg'),
  		url(http://o7650r1ld.bkt.clouddn.com/font/architects_daughter_v6.eot) format('eot');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/
@import url(http://fonts.useso.com/css?family=Architects+Daughter);
body {
  font-family: 'Architects Daughter', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#paper-back {
	font-family: 'Architects Daughter';
  width: 100vw;
  height: 100vh;
  background-color: #375277;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 33px;
}
#paper-back nav {
  padding: 120px 34px;
}
#paper-back nav a {
  text-align: right;
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#paper-window {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  z-index: 2;
}
#paper-window.tilt {
  overflow: hidden;
  pointer-events: none;
}
#paper-window.tilt #paper-front {
  -webkit-transform: rotate(-10deg) translateZ(0);
          transform: rotate(-10deg) translateZ(0);
}

#paper-front {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  pointer-events: auto;
  position: relative;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: center 1100px;
      -ms-transform-origin: center 1100px;
          transform-origin: center 1100px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.page {
  width: 100%;
  height: 100vmax;
  overflow-x: hidden;
}

.hamburger {
  position: fixed;
  z-index: 5;
  top: 30px;
  right: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hamburger span {
  position: relative;
}
.hamburger span, .hamburger span:before, .hamburger span:after {
  display: block;
  width: 45px;
  height: 6px;
  background-color: #243040;
  border-radius: 2px;
}
.hamburger span:before, .hamburger span:after {
  content: '';
  position: absolute;
}
.hamburger span:before {
  bottom: -14px;
}
.hamburger span:after {
  bottom: -28px;
}

#paper-back .close {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
}
#paper-back .close-z-index{
  z-index: 10;
}
#paper-back .close:before, .close:after {
  content: '';
  position: absolute;
  display: block;
  width: 45px;
  height: 6px;
  top: 50%;
  background-color: white;
  border-radius: 2px;
}
#paper-back .close:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
#paper-back .close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}


.scan-bar {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
    		transform: translate(-50%, -50%);
    top:39vh;
    left:50%;
}
.scan-bar.active {
	left:45%;
}

.scan-bar  .input-holder {
    overflow: hidden;
    height: 70px;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    width:70px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
    		transition: all 0.3s ease-in-out;
}
.scan-bar.active .input-holder {
    border-radius: 50px;
    width:450px;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
       -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    		transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.scan-bar  .input-holder .type-in {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
    border:none;
    outline:none;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    -webkit-transform: translate(0, 60px);
       -moz-transform: translate(0, 60px);
    		transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
       -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    		transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);

    -webkit-transition-delay: 0.3s;
       -moz-transition-delay: 0.3s;
    		transition-delay: 0.3s;
}
.scan-bar.active .input-holder .type-in {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
       -moz-transform: translate(0, 10px);
    		transform: translate(0, 10px);
}

.scan-bar .input-holder .scan-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
    		transition: all 0.3s ease-in-out;
}
.scan-bar.active .input-holder .scan-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.scan-bar .input-holder .scan-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
    		transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
       -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    		transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);

}
.scan-bar.active .input-holder .scan-icon span {
    -webkit-transform: rotate(235deg);
       -moz-transform: rotate(235deg);
    		transform: rotate(235deg);
}
.scan-bar .input-holder .scan-icon span::before,.scan-bar .input-holder .scan-icon span::after {
    position: absolute;
    content:'';
}
.scan-bar .input-holder .scan-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #974BE0;
}
.scan-bar .input-holder .scan-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #974BE0;
}

.scan-bar .zip {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
    		transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
       -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    		transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
       -moz-transition-delay: 0.2s;
    		transition-delay: 0.2s;
}
.scan-bar.active .zip {
    right:-50px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
    		transform: rotate(45deg);
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
       -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    		transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.5s;
       -moz-transition-delay: 0.5s;
    		transition-delay: 0.5s;
}
.scan-bar .zip::before, .scan-bar .zip::after {
    position:absolute;
    content:'';
    background: #FFFFFF;
    border-radius: 2px;
}
.scan-bar .zip::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.scan-bar .zip::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.scan-bar .tips-container {
    width: 100%;
    position: absolute;
    top:70px;
    left:15px;
    text-align: center;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 14px;
    color:#FFFFFF;
    display: none;
}

.scan-bar.active .tips-container {
	display: block;
	}

@media screen and (max-width: 560px) {
   .scan-bar.active .input-holder {width:230px;}
}

.borderline {
	width: 100%;
    position: absolute;
    bottom:0vh;
    text-align: center;
    font-family: 'Architects Daughter', sans-serif;
    font-weight:900;
    font-size: 28px;
    white-space: nowrap;
}

#hide .checkbox label {
  background: none;
  border: 5px solid #555;
  height: 32px;
}
#hide .checkbox label:after {
  background: #555;
  box-shadow: none;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
}
#hide .checkbox input:checked + label {
  border-color: #329043;
}
#hide .checkbox input:checked + label:after {
  background: #3eb454;
  left: 50px;
}

#hide .checkbox {
  position: relative;
  display: inline-block;
  top:22vh;
  padding-left:48vw;
}
.checkbox:after, .checkbox:before {
  font-family: FontAwesome;
  -webkit-font-feature-settings: normal;
     -moz-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
     -moz-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
     -moz-font-language-override: normal;
          font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.checkbox label {
  width: 80px;
  height: 32px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
  		  transition: 0.4s;
}
.checkbox label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
  		  transition: 0.4s;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
  left: 40px;
}
/* '渲染hide中mine_panel中下标' */
.weui_media_info.mine {
	margin-top: 8px;
	padding-bottom: 5px;
	padding-left:15px;
	font-size: 13px;
	color: #59A45C;
	line-height: 1em;
	list-style: none;
	overflow: hidden;
}
#mine_panel_bd .weui_media_desc {
	color: #819ACE;
}
.weui_media_info_meta.mine {
	float: left;
	padding-right: 1em;
}

.weui_media_info_meta.weui_media_info_meta_extra.mine {
    padding-left: 1em;
    border-left: 1px solid #328421;
}

#wish_panel_bd .weui_media_info_meta.weui_media_info_meta_extra {
	color: #586C94;
}

.header {
  position: relative;
  height: 39vh;
  width: 100vw;
  background: #44B549;
  color: #FFF;
}

#hide .header{
  height: 61vh;
}
.searchbar {
	z-index:5;
  position: absolute;
  height: 5px;
  width: 100vw;
  margin-left: 95%;
  top: 39vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchbar.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.searchbar .input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #2E811C;
  border-radius: 61%;
  background: none;
  color: #3D3434;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.searchbar .search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.searchbar .search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #2E811C;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.searchbar .zip {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

#seek .bookinfo {
    top: 10vh;
    position: absolute;
    left: 5vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#seek .bookinfo img{
	width: 35vw;
	height:35vw;
}

#seek .bookinfo ul{
    margin-top: 1vh;
    padding-bottom: 5px;
    padding-left: 0.5em;
    font-size: 1.1em;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 1.2em;
    list-style-type: disc;
    list-style-position: inside;
    overflow: hidden;
    white-space: nowrap;

}
#seek .bookinfo li{
	padding-top: 1vh;
	
}

.searchbar .zip:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #2E811C;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.searchbar .zip:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #2E811C;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.searchbar .square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 60%;
  height: 50px;
  border: 4px solid #2E811C;
  border-radius: 0;
  background: none;
  color: #94490A;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.container.loading {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 61vmin;
}

.container.loading .line {
  position: absolute;
  top: 39%;
  margin-left: 35%;
  width: 30%;
  height: 2px;
  background: #44B549;
  -webkit-animation: loadingspin 1.5s infinite ease;
          animation: loadingspin 1.5s infinite ease;
}
.container.loading .line:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.container.loading .line:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.container.loading .line:nth-of-type(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes loadingspin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loadingspin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#dialog .weui_cells {
	text-align: left;
}

#dialog .weui_select {
	padding-left: 75%;
	color:#B21C1C;
}

.weui_mask {
	    z-index: 3;
}


/* MAIN VARIABLES FOR CUSTOMIZATION */
.reel {

  overflow: hidden;
    position: absolute;
    bottom: 62vh;
    width: auto;
    height: 60px;
    /* margin-top: -30px; */
    background: #9DF38C;
    border-radius: 3px;
    /* box-shadow: 5px 5px 3px rgba(68, 181, 73, 0.33); */
    /* border-color: #BB1C72; */
    /* border-width: 1px; */
    z-index: 5;
}

.reel__cb {
  z-index: -1000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}
.reel__content {
  position: relative;
  width: 60px;
  height: 100%;
  -webkit-transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
  transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
}
.reel__cb:checked ~ .reel__content {
  -webkit-transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  width: 80vw;
}
.reel__items {
  position: relative;
  width: 80vw;
  height: 100%;
  padding-left: 20px;
  padding-right: 110px;
  list-style-type: none;
  font-size: 0;
}
.reel__item {
  display: inline-block;
  vertical-align: top;
  width: 15vw;
  text-align: center;
  color: #6C7784;
  font-size: 14px;
  line-height: 60px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
.reel__item:hover {
  color: #2E811C;
}
.reel__item select{
	
-webkit-appearance: none;
   -moz-appearance: none;
border: 0;
outline: 0;
background-color: transparent;
width: 100%;
font-size: inherit;
height: 44px;
line-height: 44px;
position: relative;
z-index: 1;
}
.reel__item-text {
  display: block;
  height: 100%;
  -webkit-transform: rotateY(-70deg);
          transform: rotateY(-70deg);
  opacity: 0;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}
.reel__cb:checked ~ .reel__content .reel__item-text {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}
.reel__item:nth-child(1) .reel__item-text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.reel__cb:checked ~ .reel__content .reel__item:nth-child(1) .reel__item-text {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.reel__item:nth-child(2) .reel__item-text {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.reel__cb:checked ~ .reel__content .reel__item:nth-child(2) .reel__item-text {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.reel__item:nth-child(3) .reel__item-text {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.reel__cb:checked ~ .reel__content .reel__item:nth-child(3) .reel__item-text {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.reel__item:nth-child(4) .reel__item-text {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.reel__cb:checked ~ .reel__content .reel__item:nth-child(4) .reel__item-text {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.reel__btn {
 position: absolute;
    right: 0;
    top: 0;
    /* width: 60px; */
    /* height: 60px; */
    padding: 22px 16px;
    cursor: pointer;
}
.reel__btn:before, .reel__btn:after {
  content: "";
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 1px;
  background: #2E811C;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
}
.reel__btn:before {
  margin-bottom: 10px;
}
.reel__btn:hover:before, .reel__btn:hover:after {
  background: #2E811C;
}
.reel__cb:checked ~ .reel__btn:before {
  -webkit-transform: translateY(7px) rotate(-225deg);
          transform: translateY(7px) rotate(-225deg);
}
.reel__cb:checked ~ .reel__btn:after {
  -webkit-transform: translateY(-7px) rotate(225deg);
          transform: translateY(-7px) rotate(225deg);
}
/* -------------------------------- */

/* more*/
#more #myinfo {
    top: 13vh;
    position: absolute;
    left: 5vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#more #myinfo img{
	width: 35vw;
	height:35vw;
}

#more #myinfo ul{
    margin-top: 1vh;
    padding-bottom: 5px;
    padding-left: 0.5em;
    font-size: 1.1em;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 1.2em;
    list-style-type: disc;
    list-style-position: inside;
    overflow: hidden;
    white-space: nowrap;

}
#more #myinfo li{
	padding-top: 1vh;
}
#more .header {
	background: #7A9FCF;
	height:52vh;
}



.card_container {
	position: fixed;
	z-index: 13;
	width: 75%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: #fafafc;
	text-align: center;
	border-radius: 3px;
	
}
.card_hd {
	padding: 1.2em 0 .5em;
}
.card_bd {
	/*padding: 0 20px;*/
	font-size: 15px;
	color: #5F5C5C;
	word-wrap: break-word;
	word-break: break-all;
    width: 100%;
    height: 250px;
    /* position: absolute; */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
}
.card_bd div {
	/*position: absolute;
	width: 100%;
	height: 100%;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 6px;
	background: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #47525d;
}
.card_bd .back {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.card_bd.flipped {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.card_mask {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
}





/* cover weui css */
#hide .weui_panel_access .weui_panel_ft:after,#seek .weui_panel_access .weui_panel_ft:after{
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}